<div class="d-flex flex-column header" style="background-color: slategray">
  <div class="d-flex flex-row justify-content-start">
    <h1 class="mt-2 ms-2 title">Muse</h1>
  </div>

  <div class="d-flex flex-row justify-content-center search-bar">
    <div class="w-50">
      <div class="input-group mb-3">
        <input type="text" class="form-control"  placeholder="Ex. 'ogh'" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2"><i class="bi-search" style="font: size 1.3em;"></i></span>
        <span class="my-auto ms-2">
          <button class="btn btn-light btn-sm" (click)="toggleRefine()">
            Zoekopdracht verfijnen
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div
  [@openCloseSearch]="refineSearch"
  class="d-flex flex-row justify-content-center bg-light"
>
  <mat-form-field
    *ngIf="refineSearch === 'openSearch'"
    appearance="outline"
    class="w-25 px-2 py-3"
  >
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field
    *ngIf="refineSearch === 'openSearch'"
    appearance="outline"
    class="w-25 px-2 py-3"
  >
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field
    *ngIf="refineSearch === 'openSearch'"
    appearance="outline"
    class="w-25 px-2 py-3"
  >
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div
  class="d-flex flex-row align-items-center"
  style="background-color: ivory"
>
  <div class="d-flex mr-2 ml-4 mt-1">
    <span
      class="color-picker mr-2"
      (click)="background = 'black'"
      style="background-color: black"
    ></span>
    <span
      class="color-picker mr-2"
      (click)="background = 'lightgreen'"
      style="background-color: mediumseagreen"
    ></span>
    <span
      class="color-picker mr-2"
      (click)="background = 'yellow'"
      style="background-color: gold"
    ></span>
  </div>

  <button type="button" class="btn btn-primary">Primary</button>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">Werken</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">Collecties</label>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-outline-primary">Sorteren</button>
    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>

  <button mat-button class="ml-3 mr-2" style="font-size: larger">
    Favorieten
  </button>

  <mat-slide-toggle
    class="ml-4 pb-3"
    [checked]="toggleSidenav"
    (change)="toggleView()"
    style="font-size: larger"
  >
    {{ toggleAction }} gids
  </mat-slide-toggle>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</div>

<div class="d-flex flex-row">
  <div
    [@openCloseMain]="main"
    [@pickBackgroundColor]="background"
    class="ml-4 mr-3"
    [style.background-color]="background"
  ></div>
  <div
    [@openCloseSidenav]="sidenav"
    [ngClass]="{
      'p-5 mr-4': sidenav === 'openSidenav',
      'p-0 mr-0': sidenav === 'closeSidenav'
    }"
    class="bg-light"
  >
    <div class="label">
      <div *ngIf="sidenav === 'openSidenav'" class="bg-white h-25 p-4">
        Sidenav
      </div>
    </div>
  </div>
</div>
