.header {
    min-height: 175px;
}

.search-bar {
    margin-top: 37px;
}

.title {
    font-family: Cinzel;
    font-size: 59px;
    color: white;
}

.color-picker {
    width: 40px;
    height: 40px;
}


