header.page-header {
    height: 152px;
}

.page-title {
    font-family: Andada;
    font-size: 59px;
    margin: 11px 0 0 19px;
}

.menu-item {
    margin-bottom: 31px;
}

.menu-title {
    font-family: Cabin;
    font-size: 1.4rem;
    margin-bottom: 9px;
}

.refine-button {
    height: 58px;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border: 1px solid silver;
}

input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid silver;
    width: 221px;
    height: 49px;
    font-size: 1.3rem;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input:focus {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid silver;
    outline: unset;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    border: 1px solid silver;
    border-left: none;
    padding: 12px;
}
