<div class="d-flex flex-column card">
  <div class="header">
    <h3 class="title">
      Schuttersmaaltijd ter viering van de vrede van Munster
    </h3>
    <span class="subtitle">Bartholomeus van der Helst, 1648</span>
    <div class="d-flex flex-row nav">
      <div class="nav-button">
        <i
          class="bi bi-bookmark-plus"
          style="font-size: 1.3rem; color: rgb(39, 59, 60)"
        ></i>
      </div>
      <div class="nav-button">
        <i
          class="bi bi-fullscreen"
          style="font-size: 1rem; color: rgb(39, 59, 60)"
        ></i>
      </div>
    </div>
    <div class="body"></div>
  </div>
</div>
