<div class="d-flex flex-column grid-list">
    <div class="header">
       <span class="title">Quick links</span>
    </div>
    <div class="nav">
        <div class="sort-button">
          <label for="" class="sort-button-label">757.272 werken</label>
          </div>
          <div class="sort-button">
          <label for="" class="sort-button-label">151.596 verzamelingen</label>
          </div>
    </div>
    <div class="list">
        <app-collection-grid-list-entry></app-collection-grid-list-entry>
        <app-collection-grid-list-entry></app-collection-grid-list-entry>
        <app-collection-grid-list-entry></app-collection-grid-list-entry>
        <app-collection-grid-list-entry></app-collection-grid-list-entry>
        <app-collection-grid-list-entry></app-collection-grid-list-entry>
        <app-collection-grid-list-entry></app-collection-grid-list-entry>
        <app-collection-grid-list-entry></app-collection-grid-list-entry>
    </div>
</div>
